.appBarSize{
    width: 100%;
  }
  
  .buttonCircleTeal{
    position: relative;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    height:2.9rem;
    width:12rem;
  
    border: 2px solid #242828;
    box-sizing: border-box;
    border-radius: 2.3rem;
    margin-top: 2rem;
    margin-left:2rem;
    background-color: #2CC9B6;
  }

  .buttonCircle{
    position: relative;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    height:2.9rem;
    width:12rem;
  
    border: 2px solid #242828;
    box-sizing: border-box;
    border-radius: 2.3rem;
    margin-top: 2rem;
    margin-left:2rem;
    background-color: white;
  }
  
  .buttonText{
    position: relative;
    left: 0.3rem;
    right: 0.3rem;
    top: 0.30rem;
    bottom: 0.3rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color:black;
  }

  .homeHeader{
    display:flex;
    flex-direction: row;
  }

  .buttonHeader{
    display:flex;
    margin-left: 25rem;
  }
  
  .sideImage{
    width: 50rem;
    height: 25rem;
    margin-top:3rem;
    margin-right:2rem;
  }

  .serviceStatement{
    margin-top:3rem;
    margin-right:2rem;
  }

  .homeRect{
    width: 30rem;
    height:18.75rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .homeCircle{
    width:13.18rem;
    height:13.18rem;
    left:18.81rem;
    right:30.18rem;
    border-radius: 10rem;
  }

  .textBox{
    width: 27rem;
    height: 2.75rem;
    left: 7.8125rem;
    top: 24rem;

    background: #FFFFFF;
    border: 0.2rem solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    padding-left: 1rem;
    text-align: left;
  }

  .moduleCardFormat{
    width: 72rem;
    height: 11.3rem;
    left: 8.9rem;
    top: 23.3rem;
    border-radius: 1.3rem;
    margin-bottom: 2rem;
  }

  .moduleCardP{
    padding-right: 1rem;
    font-weight: 500;
  }

  .purpleCircle{
    width: 3.125rem;
    height: 3.125rem;
    background: #7E28C1;
    border-radius: 10rem;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top:0.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .numberText{
    width: 1.4rem;
    height: 1.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.68rem;
    color: #FFFFFF;
  }

  .careerScroll{
    width: 61rem;
    height: 16rem;
    left: 18rem;
    top: 24rem;
    /* //rgba(36, 40, 40, 0.3) */
    border: 0.2rem solid ;
    border-radius: 1rem;
  }